################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeaBattleLibrary/bin/Debug/netstandard2.0
/SeaBattleLibrary/obj
/SeaBattle
/.vs/SeaBattle
